:root {
    --colorDropdown: #c8cdd0;
    --mainColor: #1e4854;
    --BackgroundDropdown: #2f5560;
    --color: #fff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/hobital2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transform: scale(0.8);
}

.BookAppointment {
    color: var(--colorDropdown);
}

/* Start Navbar */
.BookAppointment .boxNavbar {
    background-color: var(--mainColor);
}

.container {
    max-width: 95% !important;
    height: 100%;
}

.BookAppointment .navbar {
    background-color: var(--mainColor);
}

.BookAppointment .container .navbar .dropdown button {
    border-radius: 20px;
    background-color: var(--BackgroundDropdown);
}

.BookAppointment .container .navbar .dropdown button .fa-bars:before {
    font-size: 13px;
    margin-left: 5px;
}

.BookAppointment .container .navbar .dropdown .dropdown-menu {
    background-color: var(--BackgroundDropdown);
}

.BookAppointment .container .navbar .dropdown .dropdown-menu .dropdown-item {
    color: var(--colorDropdown);
}

.BookAppointment .container .navbar .navbar-brand .fa-house-medical:before {
    margin-right: 5px;
}

.BookAppointment .container .navbar .navbar-brand {
    color: var(--color);
}

.BookAppointment .container .navbar .btn-primary {
    background-color: #fff;
    color: var(--mainColor);
    border-radius: 20px;
}

.BookAppointment .container .navbar .btn-primary:hover,
.BookAppointment .container .navbar .navbar-brand:hover,
.dropdown-item:focus,
.dropdown-item:hover {
    color: #007bff !important;
}
@media (min-width:1500px) {
    body {
        transform: scale(0.9);
    }
}

@media (min-width:300px) {
    .BookAppointment .container .navbar .dropdown .dropdown-menu .contact {
        display: none;
    }
}

@media (max-width:410px) {
    .navbar-brand {
        display: none;
    }
}

@media (max-width:300px) {
    .boxNavbar .btn-primary {
        display: none;
    }
}

/* End Navbar */
/* Start Main */
.BookAppointment .boxMain {
    background-color: #fff;
    min-height: 700px;
}

.BookAppointment .boxMain .element {
    right: 0;
    background-image: url(../img/hobital2.jpg);
    background-size: cover;
}

.boxMain .content {
    background-color: #fff;
    padding: 25px 25px 0 0;
}

.content,
.boxImg {
    height: 100%;
}

.content .service h2 {
    position: relative;
    padding: 15px 0;
    color: #313337;
}

.content .service h2::after {
    content: "";
    position: absolute;
    background-color: transparent;
    border-style: solid;
    border-width: 15px;
    border-color: #fc906b #fc906b transparent transparent;
    right: 0;
    top: 0;
}

.content .service .animation {
    height: 2px;
    background-color: #cae4eb;
    margin-top: 45px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.content .service .animation span {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    position: relative;
}

.content .service .animation span div {
    position: absolute;
    top: -35px;
}

.content .service .animation span:first-child {
    background-color: #1b4855;
}

.content .service .animation span .activeColor {
    color: #313337;
}

.content .service .animation span:not(first-child) {
    background-color: #fff;
    border: 2px solid #cae4eb;
}

.content .service .animation span:last-child {
    visibility: hidden;
}

/* Start Animation */
.content .service .animation::after {
    content: "";
    display: inline-block;
    width: 0%;
    height: 2px;
    background-color: #1b4855;
    position: absolute;
    animation: var(--animation);
}

/*Next Animation*/
@keyframes green_line_Next_1 {
    0% {
        width: 0%;
    }

    100% {
        width: 25%;
    }
}

@keyframes green_line_Next_2 {
    0% {
        width: 25%;
    }

    100% {
        width: 50%;
    }
}

@keyframes green_line_Next_3 {
    0% {
        width: 50%;
    }

    100% {
        width: 75%;
    }
}

/*back Animation*/
@keyframes green_line_Back_1 {
    0% {
        width: 25%;
    }

    100% {
        width: 0%;
    }
}

@keyframes green_line_Back_2 {
    0% {
        width: 50%;
    }

    100% {
        width: 25%;
    }
}

@keyframes green_line_Back_3 {
    0% {
        width: 75%;
    }

    100% {
        width: 50%;
    }
}

@keyframes backgroundSpan {
    100% {
        background-color: #1b4855;
    }
}

.content .service .userSelected {
    color: #313337;
    margin-top: 40px;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

.content .service .userSelected div h5 {
    margin-bottom: 20px;
}

/* .content .service .userSelected div label {
    margin-bottom: 7px;
} */

.content .service .userSelected div label {
    display: block;
    margin-bottom: 7px;
}

.content .service .userSelected div input {
    width: 100%;
    height: 35px;
    padding: 10px;
    outline: none;
    border: 2px solid rgb(207, 207, 207);
    margin-bottom: 20px;
    border-radius: 5px;
}

#symptoms {
    padding: 10px 0 0 10px;
    outline: none;
    border: 2px solid rgb(207, 207, 207);
}

input[type="file"] {
    padding: 10px;
    height: 45px !important;
}

.content .service .userSelected div input::placeholder {
    color: rgb(184, 184, 184);
}

.form-select {
    margin-bottom: 20px;
}

.form-select:focus {
    box-shadow: none;
}

.content .service .userSelected div .button {
    display: flex;
    justify-content: space-between;
}

.content .service .userSelected div .button input {
    width: 120px;
    padding: 25px 35px;
    line-height: 0;
    margin: 5px 0;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

#symptoms {
    height: 100px;
    margin-bottom: 30px;
}

#medical-reports,
#insurance-info {
    margin-bottom: 30px;
}

#insurance-info {
    height: 60px;
}

.buttonMedical {
    margin-top: 30px;
}

.confirmed {
    margin-top: 220px;
}

.confirmed h5 {
    color: black;
}

.confirmed div input {
    background-color: var(--mainColor);
    width: fit-content !important;
    color: #fff;
    height: 50px !important;
}

.content .service .userSelected div .button input:first-child {
    background-color: transparent;
    color: var(--mainColor);

}

.content .service .userSelected div .button input:last-child {
    background-color: var(--mainColor);
    color: #fff;
}

.form-step {
    display: none;
}

.form-step.active {
    display: block;
}

.Appointment_type div {
    display: flex;
    justify-content: space-between;
}

.Appointment_type div input {
    width: 20px !important;
}
@media (max-width:992px) {
    .BookAppointment .boxMain .element {
        display: none;
    }

    .boxMain .content {
        width: 100% !important;
        padding: 25px;
    }
}

@media (max-width:520px) {
    .content .service .animation {
        display: none;
    }
}

@media (max-width:305px) {
    .content .service .userSelected div .button {
        flex-direction: column;
        align-items: center;
    }
}

/* End Main */

/*function filter  */
.colorFilter{
    color: red !important;
}

/* Adjustments for phones in landscape mode */
@media screen and (max-width: 968px) and (orientation: landscape) {
    body {
        transform: none;
    }

    .BookAppointment {
        height: 100vh;
    }
}